/* Title font */
/* @font-face {
	font-family: crucial;
	src: url(fonts/crucial/Crucial-Medium.otf);
}  */

/* Body font */
/* @font-face {
  font-family: merriweather;
  src: url(fonts/merriweather/Merriweather-Regular.ttf);
} */

/* body {
    font-family: merriweather;
  }
  
h1 {
font-family: crucial;
font-size: 4rem;
margin: 0;
} */

.display-2 {
  font-weight: 600;
}

.section-title {
  background-color: rgb(177, 171, 249);
  /* color: rgb(202, 202, 202); */
}

a {
  color: rgb(84, 69, 247);
}

a:hover {
  color: rgb(132, 122, 253);
}